# Laravel
/vendor
/node_modules
/public/storage
/public/hot
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
/app/Classes/RgbToHexClass.php

# Environment Files
.env
.env.example

# Debugging Files
*.log
*.sql
*.sqlite
*.sqlite3
*.DS_Store
*.swp
*.swo
*.sublime-workspace

# Composer & NPM
composer.lock
package-lock.json
yarn.lock
pnpm-lock.yaml

# Laravel Specific
.phpunit.result.cache
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
server.php
test-results/
test.db

# IDE / Editor Specific
.idea/
.vscode/
*.iml

# System files
Thumbs.db
Desktop.ini
.DS_Store

# CI/CD
/.github/workflows/
